In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
engine = create_engine("postgresql://admin:admin@localhost:5432/financial_db")

engine.connect()
print("connected")

connected

In [8]:
df = pd.read_sql("select * from transactions", engine)

In [9]:
df.head()

,id,time_stamp,ticker,company_name,sector,industry,open,high,low,close,adj_close,volume
0,1,2020-05-15,AAPL,Apple Inc.,Technology,Consumer Electronics,72.768802,74.598013,72.734879,74.551979,74.551979,166348400
1,2,2020-05-18,AAPL,Apple Inc.,Technology,Consumer Electronics,75.874834,76.681623,75.184334,76.308510,76.308510,135178400
2,3,2020-05-19,AAPL,Apple Inc.,Technology,Consumer Electronics,76.325444,77.170998,75.836041,75.867538,75.867538,101729600
3,4,2020-05-20,AAPL,Apple Inc.,Technology,Consumer Electronics,76.725237,77.413312,76.686472,77.343056,77.343056,111504800
4,5,2020-05-21,AAPL,Apple Inc.,Technology,Consumer Electronics,77.204945,77.745232,76.528981,76.766418,76.766418,102688800

In [10]:
df.info

<bound method DataFrame.info of         id time_stamp ticker         company_name      sector  \
0        1 2020-05-15   AAPL           Apple Inc.  Technology
1        2 2020-05-18   AAPL           Apple Inc.  Technology
2        3 2020-05-19   AAPL           Apple Inc.  Technology
3        4 2020-05-20   AAPL           Apple Inc.  Technology
4        5 2020-05-21   AAPL           Apple Inc.  Technology
...    ...        ...    ...                  ...         ...
3552  3553 2022-04-13    ABT  Abbott Laboratories  Healthcare
3553  3554 2022-04-14    ABT  Abbott Laboratories  Healthcare
3554  3555 2022-04-18    ABT  Abbott Laboratories  Healthcare
3555  3556 2022-04-19    ABT  Abbott Laboratories  Healthcare
3556  3557 2022-04-20    ABT  Abbott Laboratories  Healthcare

                  industry        open        high         low       close  \
0     Consumer Electronics   72.768802   74.598013   72.734879   74.551979
1     Consumer Electronics   75.874834   76.681623   75.184334   76.308510
2     Consumer Electronics   76.325444   77.170998   75.836041   75.867538
3     Consumer Electronics   76.725237   77.413312   76.686472   77.343056
4     Consumer Electronics   77.204945   77.745232   76.528981   76.766418
...                    ...         ...         ...         ...         ...
3552       Medical Devices  109.334910  111.427489  109.046601  111.120583
3553       Medical Devices  111.650701  111.836705  109.334909  109.455818
3554       Medical Devices  108.832684  110.051035  107.456237  108.153763
3555       Medical Devices  108.516461  111.818088  108.488561  111.585579
3556       Medical Devices  111.120580  115.370839  109.279107  114.059486

       adj_close     volume
0      74.551979  166348400
1      76.308510  135178400
2      75.867538  101729600
3      77.343056  111504800
4      76.766418  102688800
...          ...        ...
3552  111.120583    4407900
3553  109.455818    3140000
3554  108.153763    4115900
3555  111.585579    5120900
3556  114.059486    8334200

[3557 rows x 12 columns]>